html body .add-items{
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 40px;
    /* margin-top: 8rem; */
    box-shadow: 2px 1px 19px 7px seagreen;
    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 0.9em;
    width: 100%;

}

.item_submit{
    display: flex;
    flex-direction: row;
    gap: 4%;
    justify-content: center;
}
html body .add-items h1{
    font-family: serif;
}
html body{
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
    background-color: #2e5d683d;
    place-items: center;
    height: 100vh;
    grid-template-columns: 60%;
}
html body #input-box{
    text-align: center;
    outline: none;
    border: none;
    border: 2px solid #0f76e4a8;
    /* margin-top: 6vh; */
}

html body #mylist .grocery-item{
  display: flex;
  justify-content: space-between;
    margin-top: 0.5em;
    font-size: 22px;
    font-family: cursive;
}

html body .fixed{
   
    cursor: pointer;
    /* margin: 7vh 1vh; */
    /* margin-left: -3vh; */
    border: none;
    border-radius: 19%;
    color: #e01449;
    font-family: monospace;
   
}

html body #mylist li{
    list-style: none;
    margin-right: 34vh;
    margin-top: 0.5rem;
}
html body #mylist .fa-trash{
    cursor: pointer;
}
   


html body .btn-list{
    border: none;
    outline: none;
    background-color: #1089e3;
    color: white;
    font-weight: 700;
    border-radius: 7%;
    border: 1;
    cursor: pointer;
}

body #mylist li .removing{
    color: chocolate;
    background-color: grey;
} 


@media (min-width: 500px) and (max-width: 650px ) {
    /* CSS rules */
    html body{
        grid-template-columns: 70%;
        height: 90vh;
    }
  }

  @media (min-width: 400px) and (max-width: 501px ) {
    /* CSS rules */
    html body{
        grid-template-columns: 75%;
        height: 83vh;
        scroll-behavior: unset;
    }
  }
  @media (max-width: 400px ) {
    /* CSS rules */
    html body{
      
        height: 83vh;
        scroll-behavior: unset;
    }
  }


  @media (max-width: 400px ) and (min-width: 280px) {
    /* CSS rules */
    html body{
        grid-template-columns: 82%;
    }
  }

  @media (max-width: 350px ) {
    /* CSS rules */
    .item_submit{
        font-size: 0.8rem;
    }
  }

  @media (max-width: 280px ) {
    /* CSS rules */
    html body{
        grid-template-columns: 95%;
    }
  }
  


 